@import url('https://fonts.googleapis.com/css?family=Be+Vietnam+Pro:400,600,700&display=swap');

body {
    font-family: 'Be Vietnam Pro', sans-serif !important;
}

.cs-transition {
    transition: .5s !important;
}

/*Background*/
.cs-bg-main {
    background: url('../resources/hero-image.jpg') no-repeat top center / 100%;
    background-color: #1B1D1F;
}

.cs-bg-second {
    background-color: #1B1D1F !important;
}

.cs-bg-therd {
    background-color: #282B30 !important;
}

/*Border*/
.cs-border {
    border: solid 1px #6C727F !important;
}

.cs-border-color {
    border-color: #6C727F !important;
}

/*Font*/
.cs-tc-one {
    color: #D2D5DA !important;
}

.cs-fw-700 {
    font-weight: 700 !important;
}

/*Images*/
.cs-flag-img {
    height: 50px !important;
    width: 75px !important;
    object-fit: cover;
}

/*Form Control*/
.cs-formcontrol::placeholder {
    color: #D2D5DA !important;
}

/*Buttons*/
.cs-dropdown .dropdown-toggle::after {
    display: none !important
}

.cs-dropdown .dropdown-toggle:hover {
    background-color: #D2D5DA !important;
    color: #282B30 !important;
}

.cs-dropdown .dropdown-item:hover {
    background-color: #D2D5DA !important;
    color: #282B30 !important;
}

.cs-btn:hover {
    background-color: #282B30 !important;    
}

.cs-btn-active {
    background-color: #282B30 !important;
}
