@import url('https://fonts.googleapis.com/css?family=Be+Vietnam+Pro:400,600,700&display=swap');

body {
    font-family: 'Be Vietnam Pro', sans-serif !important;
    background-color: #1B1D1F !important;
}

.cs-w {
    max-width: 1920px !important;
}

.cs-shadow {
    box-shadow: #4E80EE 0px 0px 0px 3px !important;
}

.cs-transition {
    transition: .5s !important;
}

.cs-modal-width {
    width: 93vw !important;
    max-width: 1800px !important;
}

.modal-content {
    background-color: #1B1D1F !important;
}

.cs-modal-mt {
    margin-top: 200px !important;
}

.cs-pt {
    padding-top: 25% !important;
}

.cs-pointer {
    cursor: pointer;
}

.scroll-track {
  min-width: max-content;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
}

.cs-w-second {
  scroll-snap-align: start;
  width: 120px !important;
}


/*Background*/
.cs-bg-main {
    background: url('../resources/hero-image.jpg') no-repeat top center / 100%;
    background-color: #1B1D1F;
}

.cs-bg-second {
    background-color: #1B1D1F !important;
}

.cs-bg-therd {
    background-color: #282B30 !important;
}

/*Border*/
.cs-border {
    border: solid 1px #6C727F !important;
}

.cs-border-color {
    border-color: #6C727F !important;
}

.cs-border-second {
    border-right: solid 2px #1B1D1F !important;
}

.cs-border-therd {
    border-top: solid 1px #6C727F !important;
    border-bottom: solid 1px #6C727F !important;
}

/*Font*/
.cs-tc-one {
    color: #D2D5DA !important;
}

.cs-fw-700 {
    font-weight: 700 !important;
}

/*Images*/
.cs-flag-img {
    height: 50px !important;
    width: 75px !important;
    object-fit: cover;
}

.cs-pos-flag {
    top: -30% !important
}

.cs-flag-size {
    max-height: 30vw !important;
}

/*Form Control*/
.cs-formcontrol::placeholder {
    color: #D2D5DA !important;
}

/*Buttons*/
.cs-dropdown .dropdown-toggle::after {
    display: none !important
}

.cs-dropdown .dropdown-toggle:hover {
    background-color: #D2D5DA !important;
    color: #282B30 !important;
}

.cs-dropdown .dropdown-item:hover {
    background-color: #D2D5DA !important;
    color: #282B30 !important;
}

.cs-btn:hover {
    background-color: #282B30 !important;    
}

.cs-btn-active {
    background-color: #282B30 !important;
}

/*Checkbox*/
.cs-checkbox .form-check-input {
    background-color: transparent !important;
    box-shadow: none !important;
    border: solid 2px #6C727F !important;
    transform: scale(1.5);
    transition: .5s !important;
    margin-right: 15px !important;
}

.cs-checkbox .form-check-input:checked {
    background-color: #4E80EE !important;
    border-color: #4E80EE !important;
}

/*Scrollbar*/
*::-webkit-scrollbar {
  width: 16px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #1B1D1F;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: #6C727F;
  border-radius: 4px;
}
